/*
 * -------------------------------------------------
 *  nf-core/mypipeline Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'HPV'
  author = 'Marc Deloger, Sonia Lameiras, Nicolas Servant'
  homePage = 'https://gitlab.com/data-analysis/illumina-hpv'
  description = 'Genoytyping of HPV virus in Illumina capture experiments'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.1.Odev'
}

// Global default params, used in configs
params {
  container = ''
  help = false 
  containers_base = ''
  // Workflow flags
  name = false
  genome = false
  saveReference = false
  saveAlignedIntermediates = false
  reads = null
  samplePlan = null
  outdir = './results'
  singleEnd = false
  nb_geno = 2

  // default options
  queue = false
  tracedir = "${params.outdir}/pipeline_info"
  email = false
  plaintext_email = false
  skip_trimming = false
  skip_fastqc = false
  skip_blat = false
  skip_multiqc = false
  split_report = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
}

/*
 * Configs and profiles
 */
includeConfig 'conf/base.config'
// include here your local configuration
includeConfig 'conf/curie.config'

includeConfig 'conf/genomes.config'

// Profiles
profiles {
  conda { 
  process.conda = "$baseDir/environment.yml"
  conda.createTimeout = "1 h"
  }

  //docker { 
  //   docker.enabled = true 
  //}

  // Singularity images need to be set up
  singularityPath {
    includeConfig 'conf/singularity-path.config'
  }

  //singularity { 
  //   singularity.enabled = true 
  //}

  test {
   includeConfig 'conf/test.config'
  }

  cluster {
    includeConfig 'conf/cluster.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Metrics files
timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/DAG.png"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}