/*
 * -------------------------------------------------
 * Nextflow config file for illumin-hpv 
 * -------------------------------------------------
 * Configuration for cluster
 * -------------------------------------------------
 */

process {
  executor = 'pbs'
  if (params.queue){
   queue = params.queue
  }

}

