/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {

  //Define where the annotation are available
  igenomes_base = '/data/annotations/pipelines/'

  genomes {

    'hg38' {
      fasta   = "${params.igenomes_base}/Human/hg38/genome/hg38.fa"
      bowtie2 = "${params.igenomes_base}/Human/hg38/indexes/bowtie2/hg38"
      blatdb  = "${params.igenomes_base}/Human/hg19/genome/hg38.2bit"
    }
    'hg19' {
      fasta   = "${params.igenomes_base}/Human/hg19/genome/hg19.fa"
      bowtie2 = "${params.igenomes_base}/Human/hg19/indexes/bowtie2/hg19"
      blatdb  =	"${params.igenomes_base}/Human/hg19/genome/hg19.2bit"
    }
    /*
    'HPV' {
      fasta         = "/data/kdi_prod/project_result/789/07.00/HPV-V2/NCBI/genome/NCBI_HPV_CompleteGenome_2234subtypes.fa"
      bowtie2       = "/data/kdi_prod/project_result/789/07.00/HPV-V2/NCBI/index/bowtie2_index_NCBI/NCBI_HPV_CompleteGenome_2234subtypes"
      bowtie2Split  = "/data/kdi_prod/project_result/789/07.00/HPV-V2/NCBI/index/bowtie2_index_NCBI_split/"
      blatdb        = "${params.igenomes_base}/Human/hg19/genome/hg19.2bit"
      genes         = "${baseDir}/assets/HPV_genes.tsv"
      ctrlCapture   = "${baseDir}/assets/ctrl_capture.fasta"
    }*/

    'HPV' {
      fasta         = "${baseDir}/assets/HPVs.fa"
      bowtie2       = "${params.igenomes_base}/HPV/indexes/bowtie2/HPVs"
      bowtie2Split  = "${params.igenomes_base}/HPV/indexes/bowtie2_split/"
      blatdb        = "${params.igenomes_base}/Human/hg19/genome/hg19.2bit"
      genes         = "${baseDir}/assets/HPV_genes.tsv"
      ctrlCapture   = "${baseDir}/assets/ctrl_capture.fasta"
    }
  }
}
