/*
 * -------------------------------------------------
 * Nextflow config file for illumina-hpv
 * -------------------------------------------------
 * Paths to Singularity images for every process
 * No image will be pulled automatically
 * Need to transfer and set up images before
 * -------------------------------------------------
 */

singularity {
  enabled = true
}


params {
  max_cpus = 24
  max_memory = 256.GB
  max_time = 72.h
  container_version = '1.0'
  // Default tool versions
  trim_galore_version = '0.6.2'
  bedtools_version = '2.28.0'
  blat_version = '35'
  fastqc_version = '0.11.8'
  multiqc_version = '1.7'
  pandas_version = '0.24.2'
  containerPath = "${params.containers_base}/hpv-${params.container_version}/images"
}

process {
  container = "${params.containerPath}/bowtie2-samtools.simg"

  withName:trimGalore {
    container = "${params.containerPath}/trim-galore-${params.trim_galore_version}.simg"
  }
  withName:fastqc {
    container = "${params.containerPath}/fastqc-${params.fastqc_version}.simg"
  }
  withName:HPVlocalMappingStats {
    container = "${params.containerPath}/bedtools-${params.bedtools_version}.simg"
  }
  withName:HPVcoverage {
    container = "${params.containerPath}/deeptools-samtools.simg"
  }
  withName:extractBreakpointsSequence {
    container = "${params.containerPath}/pandas-${params.pandas_version}.simg"
  }
  withName:blatSoftClippedSeq {
    container = "${params.containerPath}/blat-${params.blat_version}.simg"
  }
  withName:blatSummary {
    container = "${params.containerPath}/pandas-${params.pandas_version}.simg"
  }
  withName:make_hpv_config_persample {
    container = "${params.containerPath}/pandas-${params.pandas_version}.simg"
  }
  withName:multiqc {
    container = "${params.containerPath}/multiqc-${params.multiqc_version}.simg"
  }
  withName:multiqc_allsamples {
    container = "${params.containerPath}/multiqc-${params.multiqc_version}.simg"
  }
  withName:make_hpv_config {
    container = "${params.containerPath}/pandas-${params.pandas_version}.simg"
  }
  withName:get_software_versions{
    container = "${params.containerPath}/hpv-${params.container_version}.simg"
  }
  withName:makeBowtie2IndexHPV{
    container = "${params.containerPath}/hpv-${params.container_version}.simg"
  }
}
